<section id="certification">
    <div class="row education">
        <div class="three columns header-col">
            <h1><span>{{ locale.certifications }}</span></h1>
        </div>
    </div>
    <div *ngFor="let key of keysCertifications()" class="center">
        <h2> {{ certifications[key].name }} - {{ certifications[key].duration }}</h2>
        <img src="{{ certifications[key].image }}"/>
    </div>

    <!-- <div *ngFor="let key of keysCertifications()"> -->
        <!-- <div id="certifications-0{{ certifications[key].key }}" -->
</section>