<section id="portfolio">
	<div class="row">
		<div class="twelve columns collapsed">
			<h1>{{ locale.portfolioPage.description }}</h1>
			<div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
				<div *ngFor="let key of keysPortfolio()" class="columns portfolio-item">
					<div class="item-wrap">
						<a href="#modal-0{{ portfolio[key].key }}" title="{{ portfolio[key].name }}">
							<img alt="{{ portfolio[key].name }}" src="{{ portfolio[key].image }}">
							<div class="overlay">
								<div class="portfolio-item-meta">
									<h5>{{ portfolio[key].name }}</h5>
								</div>
							</div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>
					</div>
				</div> 
			</div> 
		</div> 

		<!-- Modal Popup
        --------------------------------------------------------------- -->

		<div *ngFor="let key of keysPortfolio()">
			<div id="modal-0{{ portfolio[key].key }}" class="popup-modal mfp-hide">
				<img class="img-scale-with-grid" src="{{ portfolio[key].image }}" alt="{{ portfolio[key].name }}" />
				<div class="description-box">
					<h4>{{ portfolio[key].name }}</h4>
					<p>{{ portfolio[key].description }}</p>
				</div>
				<div class="link-box">
					<a href="{{ portfolio[key].link }}" target="_blank">{{ locale.portfolioPage.detail }}</a>
					<a class="popup-modal-dismiss">{{ locale.portfolioPage.close }}</a>
				</div>
			</div>
		</div>
	</div> 
</section> 