<section id="resume">
    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">
        <div class="three columns header-col">
            <h1><span>{{ locale.resumePage.educationField }}</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div *ngFor="let key of keysEducation()" class="twelve columns">
                    <h3>{{ educations[key].school }} - {{ educations[key].location }}</h3>
                    <p class="info"><i>{{ educations[key].degree }}</i><span>&bull;</span>
                        <em class="date">{{ educations[key].duration }}</em>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">
        <div class="three columns header-col">
            <h1><span>{{ locale.resumePage.experienceField }}</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div *ngFor="let key of keysWorks()" class="twelve columns">
                    <h3>{{ experience[key].company }} - {{ experience[key].location }}</h3>
                    <p class="info"><i>{{ experience[key].title }}</i><span>&bull;</span>
                        <em class="date">{{ experience[key].duration }}</em>
                    </p>
                    <p> {{ experience[key].description }} </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">
        <div class="three columns header-col">
            <h1><span>{{ locale.resumePage.skillsField }}</span></h1>
        </div>
        <br><br>
        <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
            <div *ngFor="let key of keysSkills()" class="columns portfolio-item">
                <div class="item-wrap">
                    <a href="#skills" title="{{ skills[key].name }}">
                        <img alt="{{ skills[key].name }}" src="{{ skills[key].image }}">
                        <div class="overlay">
                            <div class="portfolio-item-meta">
                                <h5>{{ skills[key].name }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>