<div class="row banner">
    <div class="banner-text">
        <h1 class="responsive-headline">{{ locale.homePage.im_am }}</h1>
        <h3>
            {{ locale.homePage.description }}
        </h3>
        <hr />
        <ul class="social">
            <li><a href="{{ socialProfile.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{ socialProfile.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="{{ socialProfile.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="{{ socialProfile.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>

<p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
</p>